<div class="comment-box">
  <div class="comment-box__hot-comment-container" style="display:none">
    <div class="comment-box__hot-comment-header">
      神吐槽
    </div>
    <div class="comment-box__hot-comment-list">
    </div>
  </div>
  <div class="comment-box__comment-container" style="display:none">
    <div class="comment-box__comment-header">
      评论
    </div>
    <div class="comment-box__comment-list">
    </div>
    <div class="comment-box__comment-more" style="display: none">点击查看更多</div>
  </div>
  <div class="comment-box__comment-form-container">
    <div class="comment-box__comment-form">
      <div class="comment-box__comment-input-container">
        <input class="comment-box__comment-input" type="text" placeholder="吐槽一下">
      </div>
      <button class="comment-box__comment-button">+</button>
    </div>
  </div>
</div>
