<div class="post-bottom">
  <div class="post-bottom__like">
    <div class="post-bottom__like-icon icon-post-bottom-like"></div><span class="post-bottom__num">{{like}}</span>
  </div>
  <div class="post-bottom__dislike">
    <div class="post-bottom__dislike-icon icon-post-bottom-like"></div><span class="post-bottom__num">{{dislike}}</span>
  </div>
  <div class="post-bottom__comment">
    <div class="post-bottom__comment-icon icon-post-bottom-comment"></div><span class="post-bottom__num">{{commentsCount}}</span>
  </div>
</div>
